<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StockAlgo</title>
</head>
<body>
<h1>
    Stocks Algos!
</h1>
<p>
    <a href="/stocks">Update stock list</a>
    <br>
    <a href="/run">Run stock algo</a>
    <br>
    <br>
</p>

<div>
    <h2> Stock Groups </h2>
    <form method="get">

    </form>
    <form method="post">
        <textarea name="stocks" cols="60" rows="20">{{ stocks }}</textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
</div>

</body>
</html>